<html>
  <head>
    <!--<script type="text/javascript" src="//use.typekit.net/llo3fwm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>--> 
    <title>OrangeSend</title></head>
  <body>
    <h2>
    Share your emails to your twitter or facebook <br /> Forward any email from your inbox to add@orangesend.com (actually *anything*@orangesend.com)<br /> then we'll send you a link to it. </h2>
  </body>  
</html>